html, body {
  padding: 0;
  margin: 0;
  background-color: black;
  /* background-color: rgb(100,65,164); */
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% 1fr 5%;
  row-gap: 3px;
  column-gap: 0px;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

.header{
  grid-area: header;
  background-color: rgb(100,65,164);
}

.sidebar{
  grid-area: sidebar;
  background-color: rgb(52, 53, 54);
  /* border-radius: 25px; */
  /* margin-left: 10px; */
}

.main{
  border-radius: 25px;
  margin: 10px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  padding: 10px;
  grid-area: main;
  background-color: black;
  /* background-color: rgb(52, 53, 54); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 50px 2fr;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas:
    "t1 . . ." 
    "t t t t"
    "t2 . . ."
    "ctg ctg ctg ctg"
}

.footer{
  grid-area: footer;
  background-color: rgb(100,65,164);
}

.titulo{
  margin-left: 100px;
  color: white;
  font-family: cursive; 
  text-shadow: 3px 0px 0px black;
  align-self: center;
}

#titulo1{
  grid-area: t1;
  color: white;
  font-family: cursive; 
  text-shadow: 3px 0px 0px rgb(100,65,164);
  align-self: center;
}

#titulo2{
  grid-area: t2;
  color: white;
  font-family: cursive; 
  text-shadow: 3px 0px 0px rgb(100,65,164);
  align-self: center;
}

.category{
  grid-area: ctg;
  background-color: white;
  border-radius: 25px;
}

.trending{
  grid-area: t;
  background-color: white;
  border-radius: 25px;
}